.nav_wrapper {
  padding: 20px 30px;
  background-color: black;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 50px;
  color: #b9bdb9;
  font-weight: 700;
  font-size: 24px;
}

.link {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.link:global(.active) {
  color: #c9202c;
}
